parameters:
	ignoreErrors:
		-
			message: "#^Access to an undefined property Spatie\\\\Image\\\\Drivers\\\\ImageDriver\\:\\:\\$image\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Method Spatie\\\\Image\\\\Drivers\\\\Gd\\\\GdDriver\\:\\:pngCompression\\(\\) should return int\\<\\-1, 9\\> but returns int\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$data of function imagecreatefromstring expects string, string\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$dst_image of function imagecopyresampled expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$exif of method Spatie\\\\Image\\\\Drivers\\\\Gd\\\\GdDriver\\:\\:getOrientationFromExif\\(\\) expects array\\{Orientation\\?\\: int\\}, array\\<string, mixed\\> given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$image of function imagealphablending expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$image of function imagecolorallocatealpha expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$image of function imagecolorsforindex expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$image of function imagecolortransparent expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$image of function imagefill expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$image of function imagesavealpha expects GdImage, GdImage\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$stream of function fclose expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$stream of function fread expects resource, resource\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$string of function base64_encode expects string, string\\|false given\\.$#"
			count: 2
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#1 \\$width of method Spatie\\\\Image\\\\Drivers\\\\Gd\\\\GdDriver\\:\\:manualCrop\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#2 \\$color of function imagecolorsforindex expects int, int\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#2 \\$color of function imagecolortransparent expects int\\|null, int\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#2 \\$height of method Spatie\\\\Image\\\\Drivers\\\\Gd\\\\GdDriver\\:\\:manualCrop\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#4 \\$color of function imagefill expects int, int\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Parameter \\#6 \\$color of function imagefilledrectangle expects int, int\\|false given\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Property Spatie\\\\Image\\\\Drivers\\\\Gd\\\\GdDriver\\:\\:\\$image \\(GdImage\\) does not accept GdImage\\|false\\.$#"
			count: 2
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Property Spatie\\\\Image\\\\Drivers\\\\Gd\\\\GdDriver\\:\\:\\$image \\(GdImage\\) does not accept mixed\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Unreachable statement \\- code above always terminates\\.$#"
			count: 1
			path: src/Drivers/Gd/GdDriver.php

		-
			message: "#^Access to an undefined property Spatie\\\\Image\\\\Drivers\\\\ImageDriver\\:\\:\\$image\\.$#"
			count: 3
			path: src/Drivers/Imagick/ImagickDriver.php

		-
			message: "#^Method Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\:\\:new\\(\\) should return static\\(Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\) but returns Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\.$#"
			count: 1
			path: src/Drivers/Imagick/ImagickDriver.php

		-
			message: "#^Parameter \\#1 \\$width of method Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\:\\:manualCrop\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Drivers/Imagick/ImagickDriver.php

		-
			message: "#^Parameter \\#2 \\$height of method Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\:\\:manualCrop\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Drivers/Imagick/ImagickDriver.php

		-
			message: "#^Property Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\:\\:\\$exif type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Drivers/Imagick/ImagickDriver.php

		-
			message: "#^Property Spatie\\\\Image\\\\Drivers\\\\Imagick\\\\ImagickDriver\\:\\:\\$image \\(Imagick\\) does not accept mixed\\.$#"
			count: 1
			path: src/Drivers/Imagick/ImagickDriver.php

		-
			message: "#^Part \\$color \\(mixed\\) of encapsed string cannot be cast to string\\.$#"
			count: 1
			path: src/Exceptions/InvalidColor.php

		-
			message: "#^Parameter \\#3 \\$x of method Spatie\\\\Image\\\\Drivers\\\\ImageDriver\\:\\:manualCrop\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Image.php

		-
			message: "#^Parameter \\#4 \\$y of method Spatie\\\\Image\\\\Drivers\\\\ImageDriver\\:\\:manualCrop\\(\\) expects int, int\\|null given\\.$#"
			count: 1
			path: src/Image.php
